:root {
    --red: #c22617;
    --blue: #476494;
    --nude: #d3a67c;
    --black: #211512;
    --gray: #acabb1;
    --white: #fafbff;
}

* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--black);
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 75px;
}

p {
    font-size: 24px;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--nude);
}

a:visited {
    color: var(--red);
}

.close-button {
    color: var(--black);
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.close-button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--gray);
}

.close-button:active {
    cursor: pointer;
    color: var(--white);
    background-color: var(--red);
}

.modal {
    box-shadow: 2px 4px 16px var(--black);
    display: none;
    justify-content: space;
    border-radius: 16px;
    width: 500px;
    padding: 10px;
}

.spacer {
    flex-grow: 1;
}

.weapon {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
}

.weapon-image {
    height: 100%;
    width: auto;
    align-self: center;
}

#you-chose-icon img, #npc-chose-icon img {
    border-radius: 22px;
}
.weapon img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.weapon p {
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#topnav {
    width: 100%;
    height: 50px;
    background-color: var(--red);
    position: fixed;
    top: 0px;
}

#navcontainer {
    display: flex;
    width: 250px;
    height: 100%;
    justify-content: space-around;
}

button {
    border: 0;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:hover {
    cursor: pointer;
    background-color: var(--gray);
}

#choose-pane {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

#hero h1 {
    font-size: 54px;
    margin-top: 50px;
}

#player-choose-weapon {
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
}

#results-pane {
    margin-top: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    justify-content: space-between;
    margin-top: 50px;
}

#you-chose-text h1, #npc-chose-text h1 {
    margin-bottom: 25px;
}
#npc-chose-icon, #you-chose-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#win-lose {
    margin-top: 20px;
    text-align: center;
}

#win-lose-text {
    margin-top: 50px;
}

#next-round-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#next-round-container button {
    padding: 10px 30px;
    font-size: 24px;
}

#running-score {
    font-size: 36px;
    margin-top: 85px;
}

#rules-modal {
    display: none;
    text-align: center;
}

#rules-text {
    margin-left: 30px;
    flex: 1 0 0;
}

#rules-text p {
    margin: 10px 0px;
}

#rules-text h1 {
    text-decoration: underline;
    margin-bottom: 20px;
}

#about-modal {
    display: none;
    width: 500px;
}

#about-modal h1 {
    text-align: center;
    text-decoration: underline;
}

#about-text {
    margin-left: 30px;
}

#about-text p {
    margin: 20px 0px;
}

#about-text em {
}

.lose-text {
    color: var(--white);
    background-color: var(--red);
    padding: 15px 20px;
}

.win-text {
    color: var(--white);
    background-color: green;
    padding: 15px 20px;
}