:root {
    --red: #c22617;
    --blue: #476494;
    --nude: #d3a67c;
    --black: #211512;
    --gray: #acabb1;
    --white: #fafbff;
}

* {
    margin: 0px; 
    padding: 0px;
    border: 1px solid maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    border: 0px;
    background-color: var(--white);
    height: 100%;
    width: 100%;
}

h1 {
    color: var(--black);
    font-size: 42px;
    text-transform: uppercase;
}

p {
    font-size: 24px;
}

.close-button {
    color: var(--black);
    border: 0px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.close-button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--gray);
}

.close-button:active {
    cursor: pointer;
    color: var(--white);
    background-color: var(--red);
}

#main {
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#choose-pane {
    display: none;
}

#results-pane {
    display: none;
}

#rules-modal {
    border: 0px;
    box-shadow: 2px 4px 16px var(--black);
    display: flex;
    justify-content: space;
    border-radius: 16px;
    width: 500px;
    text-align: center;
    padding: 10px;
}

#rules-text {
    margin-left: 30px;
    flex: 1 0 0;
    border: 0px;
}

#rules-text p {
    margin: 5px 0px;
    border: 0px;
}

#rules-text h1 {
    border: 0px;
}


#about-pane {
    display: none;
}