:root {
    --red: #c22617;
    --blue: #476494;
    --nude: #d3a67c;
    --black: #211512;
    --gray: #acabb1;
    --white: #fafbff;
}

* {
    margin: 0px; 
    padding: 0px;
    border: 1px solid maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    border: 0px;
    background-color: var(--white);
    height: 100%;
    width: 100%;
}

h1 {
    color: var(--black);
    font-size: 42px;
    text-transform: uppercase;
}

p {
    font-size: 24px;
}

a {
    color: var(--red);
    text-decoration: none;
    border: 0;
}

a:hover {
    color: var(--nude);
}

a:visited {
    color: var(--red);
}

.close-button {
    color: var(--black);
    border: 0px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.close-button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--gray);
}

.close-button:active {
    cursor: pointer;
    color: var(--white);
    background-color: var(--red);
}

.modal {
    border: 0px;
    box-shadow: 2px 4px 16px var(--black);
    display: none;
    justify-content: space;
    border-radius: 16px;
    width: 500px;
    padding: 10px;
}

.weapon {
    height: 175px;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.weapon-image {
    height: 135px;
    width: 135px;
    align-self: center;
}

.weapon img {
    height: 100%;
    width: 100%;
}

.weapon p {
    text-align: center;
    background-color: var(--blue);
    color: var(--white)
}

#modal-container {
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#choose-pane {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-between;
}

#hero h1 {
    font-size: 54px;
}

#player-choose-weapon {
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
}

#results-pane {
    display: none;
}

#rules-modal {
    text-align: center;
}

#rules-text {
    margin-left: 30px;
    flex: 1 0 0;
    border: 0px;
}

#rules-text p {
    margin: 10px 0px;
    border: 0px;
}

#rules-text h1 {
    border: 0px;
    text-decoration: underline;
}

#about-modal {
    display: none;
    width: 500px;
}

#about-modal h1 {
    text-align: center;
    text-decoration: underline;
    border: 0px;
}

#about-text {
    margin-left: 30px;
    border: 0px;
}

#about-text p {
    margin: 20px 0px;
    border: 0px;
}

#about-text em {
    border: 0;
}